[Desktop Entry]
Name=Tesla Lightshow Visualizer
Comment=3D Visualizer for Tesla custom lightshows (FSEQ)
Exec=tesla-lightshow-visualizer
Icon=org.jreznik.TeslaLightshowVisualizer
Terminal=false
Type=Application
Categories=Engineering;Graphics;3DGraphics;
Keywords=Tesla;Lightshow;Visualizer;3D;FSEQ;
